body {
  font-family: 'Roboto', sans-serif;
  color: #211745;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100vw;
}

a {
  text-decoration: none;
}

h3 {
  padding: 10px;
  border-style: solid none none none;
  width: 80vw;
  color: #24194e63;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.flex-row {
  display: flex;
  direction: row;
}

form div {
  margin: 1em;
}

form label {
  width: 100px;
}

form input {
  width: 30vw;
}

form textarea {
  width: 30vw;
  height: 50vh;
}

.flex-column {
  display: flex;
  direction: column;
  margin: 1em;
  width: 100%;
}

.score {
  font-size: 1.3em;
  padding: 20px 0px;
}

button {
  padding: 1em 2em;
  margin: 3px;
  border-color: #211745;
}

#submitButton button {
  font-size: 1.1em;
  font-weight: 120%;
  color: white;
  background-color: #211745;
  margin: 10px;
  margin-left: 0;
}

#playButton {
  position: fixed;
  left: 75vw;
  top: 5vh;
  display: flex;
  z-index: 1;
}

.active {
  background-color: rgb(231, 166, 142);
}

.loading {
  padding: 1em;
  text-align: center;
  font-size: 10px;
  animation: pulsing-fade 1.2s;
}

.header {
  text-align: center;
}
